:root {
    --odin-green: #2F9C0A;
    --odin-keyword: #1990B8;
    --odin-attribute: #1990B8;
    --odin-orange: #F56641;
    --odin-black: #131313;
    --odin-gray: #252525;
    --odin-red: #C92C2C;
}

/*
actual syntax highlighting
*/
.highlight .k { color: var(--odin-keyword) !important } /* Keyword */
.highlight .nf { color: var(--odin-black) !important } /* Function Name */
.highlight .kt { color: var(--odin-keyword) !important } /* Keyword Type */
.highlight .n { color: var(--odin-black) !important } /* Name */
.highlight .p { color: var(--odin-black) !important } /* Punctuation */ 
.highlight .s { color: var(--odin-green) !important } /* Literal String */ 
.highlight .m { color: var(--odin-black) !important } /* Literal Number */
.highlight .c1 { color: var(--odin-green) !important } /* Comment Single */
.highlight .na { color: var(--odin-orange) !important } /* Attribute Name */
.highlight .nc { color: var(--odin-black) !important } /* Class Name */
.highlight .nn { color: var(--odin-black) !important } /* Name.Namespace */