/*
//////////////////
// Main content //
//////////////////
*/

/*
Default text color
and background color
*/
.md-main {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
Main headlines
*/
.md-main h1 {
  color: white !important;
}

/*
Tables
*/
tbody {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.md-typeset table:not([class]) th {
  background-color: rgba(255,255,255,0.11) !important;
}

.md-typeset table:not([class]) tr:hover {
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.04) !important;
}

/*
Blockquotes
*/
.md-typeset blockquote {
  color: rgba(255,255,255,0.8) !important;
  border-color: rgba(255,255,255,0.54) !important;
}

/*
////////////////////
// Navigation bar //
////////////////////
*/

/*
Left and right toc scrollbar
*/
.md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}



.md-nav {
  color: #F5F5F5 !important;
  background-color: #212121 !important;
}

/*
Arrow Left Icon
*/
html .md-nav--primary .md-nav__title:before {
  color: #FAFAFA !important;
}

.md-nav__title {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

/*
Arrow Right Icon
*/
.md-nav--primary .md-nav__link:after {
  color: #FAFAFA !important;
}

.md-nav__list {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__item {
  color: rgba(255,255,255,1) !important;
  background-color: #212121 !important;
}

.md-nav__link[data-md-state=blur] {
  color: rgba(255,255,255,0.54) !important;
}

/*
////////////
// Search //
////////////
*/

/*
scroll bar

attention:
background is scroll handle color!
*/
.md-search__scrollwrap::-webkit-scrollbar-thumb {
  background-color: #E0E0E0 !important;
}
/*
scroll bar background color
*/
.md-search__scrollwrap {
  background-color: #424242 !important;
}

/*
Icon color
*/
.md-search-result__article--document:before {
  color: #EEEEEE !important;
}

/*
headline color and
result list background
*/
.md-search-result__list {
  color: #EEEEEE !important;
  background-color: #212121 !important;
}

/*
result info/count
*/
.md-search-result__meta {
  background-color: #EEEEEE !important;
}

/*
article preview text color
*/
.md-search-result__teaser {
  color: #BDBDBD !important;
}

.md-header
{
    background-color: #F56641;
}

.md-typeset a
{
    color: #F56641; 
}

.md-typeset a:hover
{
    color: #F56641; 
    text-decoration-line: underline;
}

.md-nav--primary .md-nav__item--active > .md-nav__link {
    color: #F56641;
}

.md-nav--primary .md-nav__item--active > .md-nav__link:visited {
    color: #F56641;
}

.md-nav--primary .md-nav__item--active>.md-nav__link:focus,
.md-nav--primary .md-nav__item--active>.md-nav__link:hover
{
    color: #F56641;
}

.md-typeset hr
{
    border-bottom: 0.05rem solid #333333;
}

.md-nav__link:hover
{
    color: #F56641; 
    text-decoration-line: underline;
}

.md-nav__link--active
{
    color: #F56641; 
    text-decoration-line: underline;
}

.md-clipboard.md-icon
{
    color: #424242; 
}

.md-clipboard.md-icon:hover
{
    color: #f56641;
}

mark
{
    color: #f56641!important;
}

summary
{
    color: #f56641!important;
}

.md-search-result__icon:after
{
    color: #f56641;
}

.md-typeset blockquote
{
    border-color: #F56641!important;
}

.md-source
{
    background-color: #F56641;
}

.md-nav__source
{
    background-color: #F56641;
}

/* ===== Code Block ===== */
.md-typeset code
{
    background-color: #191919;
}

.linenos
{
    background-color: #131313!important;
}

.highlighttable .linenodiv pre
{
    color: #424242;
}

.md-typeset pre>code::-webkit-scrollbar-thumb
{
    background-color: #131313;
}

.md-typeset pre>code::-webkit-scrollbar-thumb:hover
{
    background-color: #0C0C0C;
}

.hll
{
    background-color: #333333!important;
}
